P09_Validacia_Krajiny.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- xs:element[name=country]>xs:complexType>xs:sequence>xs:element[name type]*3 -->
<xs:element name="country">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"></xs:element>
			<xs:element name="population" type="xs:decimal"></xs:element>
			<xs:element name="city" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>