P10_Choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- xs:element[name=country]>xs:complexType>xs:sequence>xs:element[name type]*3 -->
<xs:element name="country">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"></xs:element>
			<!-- xs:choice>xs:element[name type="xs:string"]*3 -->
			<xs:choice>
				<xs:element name="prezident" type="xs:string"></xs:element>
				<xs:element name="kral" type="xs:string"></xs:element>
				<xs:element name="lud" type="xs:string"></xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>