P12_Cvicenie_Eshop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="polozka" maxOccurs="unbounded">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="nazov" type="xs:string"/>
      <xs:element name="poznamka" type="xs:string" minOccurs="0"/>
      <xs:element name="pocet" type="xs:positiveInteger"/>
      <xs:element name="cena" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>