Cvicenia/D2_06_Atributy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Zamestnanec">
<xs:complexType>
	<xs:attribute name="ID" type="xs:string" use="required"/>
	<xs:attribute name="ID_Zam" type="xs:string" use="optional"/>
</xs:complexType>
</xs:element>
</xs:schema>