Cvicenia/D2_01_Datove_Typy-VS.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Toto je komentar -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Zakaznik">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="Objednavka" minOccurs="0" maxOccurs="unbounded"></xs:element>
                <xs:element name="Adresa" type="xs:string"></xs:element>
                <xs:element name="Zaluby" type="xs:string" minOccurs="2" maxOccurs="4"></xs:element>
            </xs:sequence>

        </xs:complexType>


    </xs:element>
</xs:schema>